body {
    background-color: rgb(255, 255, 255);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #d13405;
}

.red-o {
    color: #c43f13;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: rgb(26, 167, 89);
}

.dark-bg {
    background-color: #040835;
}

.main-bg {
    background-color: rgba(253, 81, 13, 0.26);
}

.card {
    border: none;
    background-color: transparent;
}


.image-container {
    position: relative;
}

.image-flash {
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #05ebeb;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #c24e4eab;
    color: #ffffff;
    position: relative;
    text-align: center;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    color: #07b340;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(250, 250, 250);
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #1725e7;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

