{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %}
              <div class="col-md-2">
                  <div class="card mb-2">
                      <div class="card-body">
                          <div class="image-container">
                              {% if "placeholder" in post.featured_image.url %}
                              <img width ="200px" class="card-img-too"
                              src="https://res.cloudinary.com/dnm87pqvy/image/upload/ar_1:1,b_rgb:262c35,bo_5px_solid_rgb:0d0d0d,c_fill,g_auto,r_max,w_1000/v1649430830/HTB14tZyU3HqK1RjSZJnq6zNLpXaH_ooxfnz.jpg" >
                              {% else %}
                              <img class="card-img-top" src=" {{ post.featured_image.url }}" >
                              {% endif %}
                              <div class="image-flash">
                                  <p class="author">Author: {{ post.author }}</p>

                              </div>

                          </div>
                          <a href="{% url 'post_detail' post.slug %}" class="post-link">
                              <h3 class="card-title">{{ post.title }}</h3>
                              <p class="card-text">{{ post.excerpt }}</p>
                          </a>
                        

                      </div>
                  </div>
              </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav arial-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}
